<!-- <header class="navbar navbar-default">

    <ul class="navbar-nav">
    	<li class="pull-left">
    		<i class="fa fa-globe fa-5x"></i>
    	</li>
		<li>
			<h1>Which State?</h1>
		</li>
		<li>
			<form>
				<input type="text" ng-model="userGuess" placeholder="Enter the State here" />
				<button class="btn btn-default navbar-btn" ng-click ="addScore()">Guess!</button>
			</form>
		</li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
       <li>
			<p>{{counter}}/10</p>
		</li>

		  <li class="pull-right">
			<p>Score : {{score}}</p>
		</li>

	</ul> -->
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
	  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>    
  </div>
  <div class="navbar-brand">
  			<form>
				<input type="text" ng-model="userGuess"/>
				<button class="btn btn-default navbar-btn" ng-click ="addScore()">Guess!</button>
			</form>
	</div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-left">
        <li><i class="fa fa-globe fa-5x"></i></li>
        <li><h1>Which State?</h1></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><h4>{{counter}}/10</h4></li>
      <li><h4>Score : {{score}}</h4></li>
    </ul>
  </div>
</nav>



<div>
	<div id="map-canvas">
		<ui-gmap-google-map center='map.center' zoom='map.zoom' maxZoom='map.maxZoom' options='options'></ui-gmap-google-map>
	</div>
</div>

