html, body {
	width: 100%;
	height: 100%;
	margin: 0 auto;
}


#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

    background: url('https://download.unsplash.com/photo-1428342319217-5fdaf6d7898e') no-repeat center center fixed;
	background-size: cover;
    
    height: 100%;
    width: 100%;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: white;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
    color: white;
    font-size: 70px;

}

#page-content-wrapper p {
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
    
}

#menu-toggle {
	background: none;
	margin-top: 60px;
	color: white;
	font-size: 30px;
	font-weight: 700;
}

.form-group {
	padding-top: 20px;
}

.angular-google-map-container { 
	height: 1000px; 
}

.navbar {
	background: rgba(0, 0, 0, 0.7);
	margin-bottom: 0px;
}
 .navbar-brand {
 	padding: 10px;
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
} 

.navbar-right li {
	padding: 25px;
	text-align: center;
	margin: auto;
}
.navbar-left li {
	padding: 5px;
	text-align: center;
	margin: auto;
}

.navbar-left li p {
	padding: 20px;
}

.fa {
	color: gray;
}

.navbar-nav p {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	color: white;
}

input[type=text], textarea {
	background:none;
	border-color: rgba(255, 255, 255, 0.2);
	padding:0;
	margin:0;
	font-size: 50px;
	color: white;
}

.navbar-btn {
	background: none;
	color: white;
}

.score {
	padding: 50px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}