html, body {
	width: 100%;
	height: 100%;
	margin: 0 auto;
}


#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

    background: url('https://download.unsplash.com/42/pygwO3glRbaBCh2uRyd4_8420_rgb.jpg') no-repeat center center fixed;
	background-size: cover;
    
    height: 100%;
    width: 100%;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: white;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
    color: white;
    font-size: 70px;

}

#page-content-wrapper p {
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
    
}

.form-group {
	padding-top: 20px;
}

.angular-google-map-container { 
	height: 800px; 
}

/*  .navbar-nav {
    width: 100%;
    text-align: center;
    > li {
      float: none;
      display: inline-block;
    }
  }*/

 .navbar-brand
{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
} 

